.card {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(88, 87, 87);
}

.input {
  border: none;
  border-bottom: 1px solid gray;
}

.input::placeholder,
.textarea::placeholder {
  font-size: 12px;
  color: rgb(185, 184, 184);
}

.input:focus,
.textarea:focus,
.select:focus {
  outline: none;
}

.textarea {
  border: none;
  border-bottom: 1px solid gray;
}

.submitButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  cursor: pointer;
}

.logo {
  width: 20px;
  display: block;
  margin: 0 auto;
}