@import 'leaflet/dist/leaflet.css'; 
@import 'leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.css';
@import 'leaflet-defaulticon-compatibility';
@import 'leaflet-geosearch/dist/geosearch.css';


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Comfortaa, cursive,  BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  
}

.leaflet-top {
  margin-top: 80px;
}

.leaflet-control-geosearch form input.glass {
  height: 30px;
  
}
