.background_image { 
    margin: 0;
    padding: 0;
    background:
    url("/images/register-background.jpg")
    no-repeat center center fixed ;
    background-size: cover;
    filter: brightness(60%);
    width: 100vw;
    height: 100vh;
}

.form {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  color: #ffffff;
  
}

.logo {
  width: 45px; 
}